<div class="Blog section">
  <div class="container">


    <div class="section-header columns has-text-centered is-centered">
      <div class="column is-6">
        <h3 class="title">From our blog</h3>
      </div>
    </div>

    <div class="columns has-text-centered">

      <div class="column">

        <article class="BlogCard card ">
          <div class="card-content">
            <h5 class="title is-6">Why we're doing an ICO</h5>
          </div>
          <footer class="card-footer">
            <a href="https://blog.pollygot.com/en/why-we-are-doing-an-ico/" class="card-footer-item">Read More</a>
          </footer>
        </article>


      </div>

      <div class="column">

          <article class="BlogCard card">
            <div class="card-content">
              <h5 class="title is-6">Why choose Pollygot over Wordpress or Medium?</h5>
            </div>
            <footer class="card-footer">
              <a href="https://blog.pollygot.com/en/why-choose-pollygot/" class="card-footer-item">Read More</a>
            </footer>
          </article>

      </div>

      <div class="column">

          <article class="BlogCard card">
            <div class="card-content">
              <h5 class="title is-6">How to solve click bait</h5>
            </div>
            <footer class="card-footer">
              <a href="https://blog.pollygot.com/en/how-to-solve-clickbait/" class="card-footer-item">Read More</a>
            </footer>
          </article>

      </div>
    </div>
  </div>
</div>
