
<div class="Bundle hero">

  <div class="hero-body">

  <div class="container">
    <div class="section-header columns has-text-centered is-centered">
      <div class="column is-6">
        <h3 class="polly-Header">Compare</h3>
      </div>
    </div>

    <div class="columns is-centered  has-text-centered">
      <div class="column is-4">
        <article class="BundleCard card ">
          <div class="card-content">
            <img src="/assets/images/bundle.png" alt="bundle">
            <!-- <h3 class="title is-2 ">$180+</h3>
            <p class="subtitle">per month</p> -->
            <p>Many services, many logins, many dollars.</p>
          </div>
        </article>
      </div>

      <div class="column is-4">
        <article class="BundleCard card ">
          <div class="card-content">
            <img src="/assets/images/pollygot-bundle.png" alt="Pollygot bundle">
            <!-- <h3 class="title is-2">$9</h3>
            <p class="subtitle"> per user / month</p> -->
            <p>One platform for all your sites and services.</p>
          </div>

      </article>

      </div>

    </div>
  </div>
  </div>
</div>
