<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Your dream team has arrived</h3>
      </div>
    </div>
  </div>


  <div class="has-horizontal-scroll has-text-centered">


  	<div class="scrolling-wrapper-flexbox">

  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/api.svg" alt="API">
  				</figure>
  				<h5>API</h5>
  				<p>
  					If you just need a backend to host content then use Pollygot as a headless CMS.
  				</p>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>

  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/fast.svg" alt="Fast">
  				</figure>
  				<h5>Fast</h5>
  				<p>
  					Select your requirements and receive a shortlist of candidates within seconds.
  				</p>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>


  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/opensource.svg" alt="Opensource">
						<i class="lni-star"></i>
  				</figure>
  				<h5>Opensource</h5>
  				<p>
            Want to host Pollygot yourself? Grab the latest version of GitHub.
          </p>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>


        <div class="feature-card ">
          <figure class="image is-64x64">
            <img src="/assets/icons/export.svg" alt="Get paid">
          </figure>
          <h5>Easy migrations</h5>
          <p>
          Want to migrate away? Export your content as a Hugo site.
          </p>
        </div>

        <!-- <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/roadmap.svg" alt="Community driven development">
  				</figure>
          <h5>Community driven development</h5>
          <p>
            We are always improving and we prioritise the features that you want to see next. Our roadmap is available on GitHub (along with the rest of our code).
          </p>
        </div> -->


  	    <div class="padder-card "></div>


  	  </div>
  </div>
</div>
