
<div class="CTA">
  <div class="container"></div>
    <div class="section has-text-centered"  style="z-index:9;position:relative;margin-bottom:-50px;">
			<a name="register"><h3 class="title">Stop searching and start shipping</h3></a>
		</div>
  </div>

  <div class="section">
    <div class="container">
      <div class="columns is-centered ">
        <div class="column is-4">
          <p>Exxxpanda is currently in beta. Tell us your name and email and we'll reach out as soon as we're ready! </p>
        </div>
        <div class="column is-4">
          {{>form}}
        </div>
      </div>
    </div>
  </div>
</div>
