<div class="AppFeatures section">


    <div class="container">
      <div class="section-header columns has-text-centered is-centered is-hidden-tablet">
        <div class="column is-6">
          <h3 class="title">Features</h3>
        </div>
      </div>

      <div class="columns">

        <div class="AppFeatureMenu column is-3 is-hidden-mobile">
          <aside class="menu tab-menu">
            <h3 class="title">Features</h3>
            <ul class="menu-list">
              <li class="is-active"><a class="is-active" data-tab="#tab-multilingual">Multilingual</a></li>
              <li><a data-tab="#tab-customer-support">Customer support</a></li>
              <li><a data-tab="#tab-social">Social accounts</a></li>
              <li><a data-tab="#tab-emails">Email campaigns</a></li>
              <li><a data-tab="#tab-seo">Google Rankings</a></li>
              <li><a data-tab="#tab-data">Data pipeline</a></li>
              <li><a data-tab="#tab-multitenant">Multi-tenant</a></li>
            </ul>
        </div>
        <div class="column">

          <div class="AppFeatureTabs tabs is-hidden-tablet">
            <ul>
              <li class="is-active"><a data-tab="#tab-multilingual">
                Multilingual
              </a></li>
              <li><a data-tab="#tab-customer-support">Customer support</a></li>
              <li><a data-tab="#tab-social">Social accounts</a></li>
              <li><a data-tab="#tab-emails">Email campaigns</a></li>
              <li><a data-tab="#tab-seo">Google Rankings</a></li>
              <li><a data-tab="#tab-data">Data pipeline</a></li>
              <li><a data-tab="#tab-multitenant">Multi-tenant</a></li>
            </ul>
          </div>

          <div class="tab-content has-text-centered">
            <div class="content" id="tab-multilingual">
              <!-- <h5 class="title is-5">Multilingual</h5> -->
              <p>Increase your audience. Communicate to them in their language.</p>
              <img src="/assets/images/multilingual.png" alt="Multilingual">
            </div>
            <div class="content" id="tab-customer-support">
              <!-- <h5 class="title is-5">Customer Support</h5> -->
              <p>Chat to your customers in realtime. Never lose a lead.</p>
              <img src="/assets/images/customer-support.png" alt="Customer Support">
            </div>
            <div class="content" id="tab-emails">
              <!-- <h5 class="title is-5">Email lists and campaigns</h5> -->
              <p>Send newsletters directly from Pollygot, in any language you want.</p>
              <img src="/assets/images/email-campaigns.png" alt="Emails">
            </div>
            <div class="content" id="tab-social">
              <!-- <h5 class="title is-5">Social accounts and Scheduling</h5> -->
              <p>Schedule posts to be published in advance on all the major social platforms.</p>
              <img src="/assets/images/social.png" alt="Emails">
            </div>
            <div class="content" id="tab-seo">
              <!-- <h5 class="title is-5">Social accounts and Scheduling</h5> -->
              <p>Track your performance on Google and get suggestions to improve your rankings.</p>
              <img src="/assets/images/seo.png" alt="Emails">
            </div>
            <div class="content" id="tab-data">
              <!-- <h5 class="title is-5">Data pipeline</h5> -->
              <p>Pipe your data to multiple sources from the backend.</p>
              <img src="/assets/images/analytics.png" alt="Multitenant">
            </div>
            <div class="content" id="tab-multitenant">
              <!-- <h5 class="title is-5">Multi-tenant</h5> -->
              <p>All your sites under a single account. Starting a new blog takes just 20 seconds.</p>
              <img src="/assets/images/multitenant.png" alt="Multitenant">
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
