<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Your elastic dream team</h3>
      </div>
    </div>
  </div>


  <div class="has-horizontal-scroll has-text-centered">

  	<div class="scrolling-wrapper-flexbox is-centered">
  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-star size-lg"></i>
  				</figure>
  				<h3>Vetted</h3>
  				<h4>
						We carefully select developers by conducting interviews, background checks, and testing competence on real projects.
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>

				<div class="feature-card ">
  				<figure class="image is-64x64">
						<i class="lni-bolt-alt size-lg"></i>
  				</figure>
  				<h3>Instant</h3>
  				<h4>
  					Input your hiring requirements and within seconds we'll introduce you to a shortlist of candidates you can video interview.
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>

        <div class="feature-card ">
          <figure class="image is-64x64">
            <i class="lni-clipboard size-lg"></i>
          </figure>
          <h3>Managed</h3>
          <h4>
          Set the direction at sprint planning and leave the rest to us. Our in-house managers make sure your project stays on schedule.
          </h4>
        </div>
  	  </div>
  </div>
</div>
