<footer class="MainFooter footer">
  <div class="container">


  <!-- <div class="columns">
    <div class="column is-6">
      <h4 class="title is-4">Pre-register</h4>

    </div>


    <div class="column is-3">
      <h4 class="heading">Connect with us</h4>
      <div class="buttons has-addons">
        <a class="button" href="https://github.com/pollygot" target="_blank">
          <span class="icon is-small">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="button" href="https://www.facebook.com/pollygot/" target="_blank">
          <span class="icon is-small">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a class="button" href="#" target="_blank">
          <span class="icon is-small">
            <i class="fa fa-linkedin"></i>
          </span>
        </a>
        <a class="button" href="#" target="_blank">
          <span class="icon is-small">
            <i class="fa fa-instagram"></i>
          </span>
        </a>
        <a class="button" href="#" target="_blank">
          <span class="icon is-small">
            <i class="fa fa-medium"></i>
          </span>
        </a>
      </div>

      <h4 class="title is-4">Products</h4>
      <p><a href="#">Pollygot</a></p>
      <p><a href="#">Pollygot Reader</a></p>
      <p><a href="#">PollyCoin</a></p>
    </div>


    <div class="column is-3">
      <h4 class="heading">Have a look around</h4>
      <p><a href="#">Blog</a></p>
      <p><a href="#">Team</a></p>
    </div>


  </div> -->


  <div class="has-text-centered">
    <small>&copy; Copyright Pollygot</small>
  </div>

  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111388404-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111388404-1');
</script>
