

<form name="contact" netlify>
  <div class="field">
    <div class="control">
      <input class="input" placeholder="First Name *" type="text" value="" name="FNAME" id="mce-FNAME">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" placeholder="Last Name *" name="LNAME" class="" id="mce-LNAME">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input required email" placeholder="Email *" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" >
    </div>
  </div>
  <div class="field">
    <div class="control has-text-right">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c3e68a463cd5f23b2f8b59f5_a51230eff6" tabindex="-1" value=""></div>
      <button class="polly-button-green-small button" type="submit">Request an invite</button>
    </div>
  </div>

</form>



