
<div class="MainHero">
  <div id="angles" class="">
    <div class="animals"></div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h2 class="title">
    	        Pollygot
    	      </h2>
    	      <p class="">
    					Pollygot is more than a CMS. It is a swiss-army knife for startups and bloggers. <br>It has everything you need to run your company. No installation required, just sign up and go.
    	      </p>
              <br>
              <button class="button polly-Button">Create account</button>
  				</div>

  			</div>
      </div>

    </div>
  </section>
</div>
