
<div class="MainHero">
  <div id="angles" class="">
    <div class="animals"></div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h1 class="title">
    	        Rent talented full-time developers instantly
    	      </h1>
    	      <h2 class="">
              Exxxpanda manages a team of world-class
              <br> 
              developers that you can hire monthly.
    	      </h2>
            <p>
              <br>
              <a href="#register" class="button polly-Button">Request an invite</a>
            </p>
  				</div>

  			</div>
      </div>

    </div>
  </section>
</div>

{{!-- <div class="Mockups">
  <img src="/assets/images/devices.png" alt="Pollygot">
  <img id="support" src="/assets/images/support.png" alt="Pollygot">

</div> --}}
