
<div class="MainHero">
  <div id="angles" class="">
    <div class="animals"></div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h2 class="title">
    	        <span>Multilingual CMS.</span>
              <span>Emails Campaigns.</span>
              <span>Customer Support.</span>
              <span>Analytics.</span>
    	      </h2>
    	      <p class="">
              Pollygot is a content platform that consolidates all the most important services you need to run your business.
    	      </p>
            <p>
              <br>
              <a href="#register" class="button polly-Button">Request an invite</a>
            </p>
  				</div>

  			</div>
      </div>

    </div>
  </section>
</div>

<div class="Mockups">
  <img src="/assets/images/devices.png" alt="Pollygot">
  <img id="support" src="/assets/images/support.png" alt="Pollygot">

</div>
