<nav class="MainMenu navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/icons/panda.svg" alt="Exxxpanda" width="30" />
      <div class="exxxpanda">Exxxpanda</div>
    </a>
    <div class="navbar-burger burger" data-target="main-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="main-menu">
    <div class="navbar-start">

      <!-- <a class="navbar-item" href="#">
        For bloggers
      </a>
      <a class="navbar-item" href="#">
        For readers
      </a>
      <a class="navbar-item" href="#">
        For developers
      </a> -->
    </div>

    <div class="navbar-end">
      <a class="navbar-item pricing" href="#pricing">
        PRICING
      </a>
      <!-- <div class="MainMenu-Products navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Products
        </a>

        <div class="navbar-dropdown is-right is-boxed">


          <a class="navbar-item" href="/app">
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="/assets/icons/pollygot-icon.png" alt="Pollygot" class="product-icon">
                </p>
              </figure>
              <div class="media-content">
                <h3>Pollygot</h3>
                <p>A content management system for the modern business (and blogger).</p>
              </div>
            </div>
          </a>

          <hr class="navbar-divider">

          <a class="navbar-item" href="/reader">
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="/assets/icons/pollygot-reader-icon.png" alt="Polly Reader" class="product-icon">
                </p>
              </figure>
              <div class="media-content">
                <h3>Pollygot Reader</h3>
                <p>Discover articles and discuss them with multiple online communities.</p>
              </div>
            </div>
          </a>

          <hr class="navbar-divider">

          <a class="navbar-item" href="/pollycoin">
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="/assets/icons/pollycoin-icon.png" alt="PollyCoin" class="product-icon">
                </p>
              </figure>
              <div class="media-content">
                <h3>PollyCoin</h3>
                <p>Give Polly Coin to sponsor great content with micropayments and tips.</p>
              </div>
            </div>
          </a>

        </div>
      </div> -->
      <!-- <div class="MainMenu-Products navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Company
        </a>

        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item" href="https://blog.pollygot.com">
              <div class="media-content">
                <h3>Blog</h3>
              </div>
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" href="/about">
              <div class="media-content">
                <h3>About Pollygot</h3>
              </div>
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" href="#">
              <div class="media-content">
                <h3>Jobs</h3>
              </div>
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" href="#">
              <div class="media-content">
                <h3>Opensource</h3>
              </div>
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" href="#">
              <div class="media-content">
                <h3>Roadmap</h3>
              </div>
          </a>

        </div>
      </div> -->
      <!-- <div class="MainMenu-Locales navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          EN
        </a>

        <div class="navbar-dropdown is-right is-boxed">


          <a class="navbar-item" href="#">
            <div class="media-content">
              <h3>English</h3>
            </div>
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" href="#">
            <div class="media-content">
              <h3>More translations coming soon</h3>
            </div>
          </a>



        </div>
      </div> -->
      <!-- <a class="navbar-item" href="#">
        Pricing
      </a> -->
      
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button polly-button-green" href="#register">
              <span>Request an invite</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
