
<a name="pricing"></a>
<div class="section">
  <div class="Developers">
    <div class="blurb">
      <div class="columns has-text-centered is-centered">
        <div class="column is-8">
          <h3 class="title">Pricing</h3>
          <p class="pricing-header">
            One simple monthly payment.
          </p> 
          <div class="tile is-ancestor">
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child notification tile1">
                  <p class="title">Junior Developer </p>
                  <p class="subtitle">(2-3 years exp.)</p>
                  <p>$2300 SGD</p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification tile2">
                  <p class="title">Standard Developer</p>
                  <p class="subtitle">(4-6 years exp.)</p>
                  <p>$2800 SGD</p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification tile3">
                  <p class="title">Senior Developer</p>
                  <p class="subtitle">(>6 years exp.)</p>
                  <p>$4100 SGD</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>