
<div class="Products hero">

  <div class="hero-body">

  <div class="container">
    <div class="section-header columns has-text-centered is-centered">
      <div class="column is-6">
        <h3 class="title">Products</h3>
      </div>
    </div>

    <div class="columns has-text-centered">
      <div class="column">

        <a href="/app">
        <article class="ProductCard card">
          <figure class="image is-64x64">
            <img src="/assets/icons/pollygot-icon.png" alt="Pollygot" class="product-icon">
          </figure>
          <div class="card-content">
            <h5 class="title is-5">Pollygot</h5>
            <div class="content">
              <p class="">A multilingual content platform</p>
              <ul class="has-text-left">
                <li>A content platform with a public API</li>
                <li>Native features, without relying on plugins</li>
                <li>Opensource for self hosting</li>
              </ul>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">More</a>
          </footer>
        </article>
        </a>

      </div>
      <div class="column">

        <a href="/reader">
        <article class="ProductCard card">
          <figure class="image is-64x64">
            <img src="/assets/icons/pollygot-reader-icon.png" alt="Pollygot" class="product-icon">
          </figure>
          <div class="card-content">
            <h5 class="title is-5">Pollygot Reader</h5>
            <div class="content">
              <p>An RSS reader and digital wallet</p>
              <ul class="has-text-left">
                <li>Read blogs and websites anywhere on the web, no matter what language</li>
                <li>Participate in discussions on all the major social platforms</li>
                <!-- TODO All comments in one app -->
                <li>Support great content using micropayments</li>
              </ul>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">More</a>
          </footer>
        </article>
        </a>

      </div>
      <div class="column">

        <a href="/pollycoin">
        <div class="ProductCard card">
          <figure class="image is-64x64">
            <img src="/assets/icons/pollycoin-icon.png" alt="Pollygot" class="product-icon">
          </figure>
          <div class="card-content">
            <h5 class="title is-5">PollyCoin</h5>
            <div class="content">
              <p>A digital currency for micropayments</p>
              <ul class="has-text-left">
                <li>Give donations for great content</li>
                <li>Built into Pollygot for easy UX</li>
                <li>Use PollyCoin to purchase any Pollygot services</li>
              </ul>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">More</a>
          </footer>
        </div>
        </a>

      </div>

    </div>
  </div>
  </div>
</div>
