<div class="Readers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-6">
				<h3 class="title">For readers.</h3>
				<p>Pollygot Reader is an app for reading blogs and websites anywhere on the web. Participate in discussions on all the major social platforms.</p>
        </p>
      </div>
    </div>
  </div>




	<div class="has-horizontal-scroll has-text-centered">





		<div class="scrolling-wrapper-flexbox">

		    <div class="feature-card">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/ads.svg" alt="No ads">
  				</figure>
					<h5>No ads. No banners. Ever.</h5>
					<p>
						Content hosted by Pollygot will <i>never</i> have a banner or ads. We have faith that the world is willing to sponsor great content but don't yet have a convenient way to do so.
						We believe micro-tipping will be enough to support content creators.
					</p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
				</div>

		    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/give.svg" alt="Give micropayments">
  				</figure>
					<h5>Give micropayments</h5>
					<p>
						Support great content by giving tips. 100% of your tip goes to content creator. Our income stream is from the tools that we provide to writers, startups, and businesses,
						so you can show your full support - regardless of whether that is $0.001 or $1000.
					</p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
				</div>

		    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/follow.svg" alt="Follow publishers">
  				</figure>
					<h5>Follow and comment on any content, anywhere</h5>
					<p>Pollygot Reader allows you to follow any website that has RSS feeds, and then links you to discussions on Reddit, HackerNews, and many more sites.</p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
				</div>

		    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/offline.svg" alt="Read offline">
  				</figure>
					<h5>Read offline</h5>
					<p>Pollygot Reader allows you to save your articles and read them offline. Handy for when you have a long flight ahead.</p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
				</div>

		    <div class="padder-card "></div>
		  </div>

	</div>

</div>
