<svg width="128" height="128" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>multilingual</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(1187 -449)">
<clipPath id="clip-0" clip-rule="evenodd">
<path d="M -1187 449L -1059 449L -1059 577L -1187 577L -1187 449Z" fill="#FFFFFF"/>
</clipPath>
<g id="multilingual" clip-path="url(#clip-0)">
<g id="translation">
<g id="Group">
<g id="Group">
<g id="Group">
<g id="Vector">
<use xlink:href="#path0_fill" transform="translate(-1170.96 478.243)" fill="#333333"/>
</g>
<g id="Vector">
<use xlink:href="#path1_fill" transform="translate(-1112.12 507.784)" fill="#333333"/>
</g>
<g id="Vector">
<use xlink:href="#path2_fill" transform="translate(-1187 459.612)" fill="#333333"/>
</g>
<g id="Vector">
<use xlink:href="#path3_fill" transform="translate(-1176.15 542.471)" fill="#333333"/>
</g>
<g id="Vector">
<use xlink:href="#path4_fill" transform="translate(-1109.53 449)" fill="#333333"/>
</g>
</g>
</g>
</g>
</g>
</g>
</g>
<defs>
<path id="path0_fill" d="M 40.0353 0.0243073C 38.593 0.0243073 37.4126 1.20489 37.4126 2.64803L 37.4126 16.0817L 34.6591 16.0817C 34.6591 16.0292 34.6591 15.9505 34.6591 15.8981C 34.6591 15.8718 34.6591 15.8456 34.6591 15.8456C 33.741 6.68866 24.9555 -0.684155 15.8289 0.0505303C 14.3865 0.155448 13.3111 1.44122 13.416 2.8841C 13.521 4.32724 14.8059 5.40291 16.2483 5.29799C 22.4377 4.79937 28.6268 9.91593 29.3875 16.1079L 2.61132 16.1079C 1.87689 16.1079 1.16896 16.4227 0.670597 16.9737C 0.172236 17.5248 -0.0638299 18.2595 0.0148587 18.9939C 0.46076 23.4542 2.82089 27.705 6.46627 30.6959C 9.63952 33.2672 13.4947 34.6841 17.2975 34.6841C 17.8221 34.6841 18.3726 34.6579 18.8972 34.6054C 26.2404 33.8183 32.3249 28.2296 34.1345 21.3816L 37.4126 21.3816L 37.4126 32.0079C 37.4126 33.451 38.5927 34.6316 40.0353 34.6316C 41.4777 34.6316 42.658 33.451 42.658 32.0079L 42.658 2.72699C 42.658 1.20516 41.4779 0.0243073 40.0353 0.0243073ZM 18.3467 29.3582C 15.4619 29.673 12.3409 28.676 9.77093 26.6033C 8.01381 25.1864 6.67637 23.3498 5.91571 21.3559L 28.6536 21.3559C 27.0273 25.5536 23.0412 28.8596 18.3467 29.3582Z"/>
<path id="path1_fill" d="M 31.5441 27.5235L 18.3525 1.44314C 17.9066 0.551077 16.9888 -6.40366e-06 16.0183 -6.40366e-06C 15.0219 -6.40366e-06 14.1301 0.551077 13.6842 1.44314L 0.282964 28.1271C -0.372774 29.4129 0.151821 30.9869 1.43681 31.6429C 1.80402 31.8265 2.22369 31.9314 2.61687 31.9314C 3.5871 31.9314 4.50513 31.4065 4.95103 30.4883L 9.56664 21.3051L 22.5222 21.3051L 26.8758 29.9109C 27.5315 31.1967 29.105 31.7213 30.39 31.0653C 31.6752 30.3836 32.1996 28.8093 31.5441 27.5235ZM 12.1893 16.0314L 16.0183 8.42252L 19.8735 16.0314L 12.1893 16.0314Z"/>
<path id="path2_fill" d="M 127.562 60.8978C 126.303 52.6854 122.291 45.0765 116.259 39.4354C 104.85 28.7828 88.197 26.4476 74.4548 33.1907C 72.383 14.5618 56.5952 4.35449e-06 37.4502 4.35449e-06C 27.4584 4.35449e-06 18.0695 3.85704 10.9886 10.8886C 3.90767 17.9204 0 27.3137 0 37.3365C 0 47.333 3.90767 56.7263 10.9886 63.7841C 18.0433 70.8159 27.4584 74.6727 37.4502 74.6727C 43.2462 74.6727 48.7536 73.3345 53.6577 70.9468C 55.3361 86.1908 66.2723 99.0999 81.3784 103.088L 81.4046 103.088C 84.4205 103.823 87.4366 104.19 90.4263 104.19C 103.88 104.19 116.652 96.9221 123.34 84.7477C 127.352 77.5328 128.821 69.0578 127.562 60.8978ZM 37.4505 69.4253C 19.722 69.4253 5.27161 55.0471 5.27161 37.3365C 5.27161 19.6524 19.722 5.24771 37.4505 5.24771C 55.1003 5.24771 69.4458 19.6521 69.4458 37.3365C 69.4458 55.0209 55.1003 69.4253 37.4505 69.4253ZM 118.776 82.2291C 111.748 95.0333 96.9304 101.514 82.7161 97.998C 68.9477 94.351 59.2179 82.098 58.7195 67.9821C 67.951 61.5276 74.1141 51.0062 74.6647 39.0419C 86.8596 31.9052 102.307 33.5581 112.692 43.2924C 123.392 53.2627 125.884 69.2679 118.776 82.2291Z"/>
<path id="path3_fill" d="M 39.8187 18.2354L 39.8187 18.2092C 39.7925 18.1042 39.7662 17.9993 39.74 17.9206C 39.74 17.9206 39.74 17.9206 39.74 17.8944C 39.7138 17.8157 39.6876 17.7108 39.6351 17.6321C 39.6351 17.6059 39.6089 17.5797 39.5826 17.5534C 39.5564 17.501 39.5039 17.4223 39.4777 17.3698C 39.4515 17.3436 39.4515 17.3174 39.4253 17.2911C 39.3728 17.2124 39.3203 17.1337 39.2679 17.0551C 39.2154 16.9764 39.1367 16.8977 39.058 16.819C 39.0318 16.7928 39.0318 16.7928 39.0056 16.7665C 38.9531 16.7141 38.8744 16.6616 38.822 16.6092C 38.7957 16.5829 38.7695 16.5829 38.7433 16.5567C 38.6908 16.5042 38.6121 16.478 38.5597 16.4256C 38.5335 16.3993 38.5072 16.3993 38.481 16.3731C 38.4023 16.3206 38.2974 16.2682 38.2187 16.242L 24.8173 10.8369C 23.4798 10.2858 21.9588 10.9418 21.4079 12.28C 20.8571 13.6182 21.5129 15.1398 22.8503 15.6909L 31.8195 19.3116C 26.8891 21.9615 20.9358 22.1714 15.7694 19.705L 15.7432 19.705C 9.21305 16.6876 5.09554 10.0232 5.25292 2.67663C 5.27915 1.23349 4.15154 0.026676 2.68269 0.000446653C 1.24033 -0.0257827 0.0337701 1.10234 0.00754061 2.57171C -0.228525 11.9909 5.09528 20.5709 13.5139 24.4803C 16.6609 25.9759 20.0178 26.7106 23.3749 26.7106C 26.2334 26.7106 29.0921 26.1595 31.7933 25.1101L 29.4066 30.9349C 28.8558 32.2731 29.5116 33.8212 30.849 34.3457C 31.1637 34.4769 31.5047 34.5293 31.8455 34.5293C 32.8681 34.5293 33.8649 33.9258 34.2845 32.9026L 39.687 19.6526C 39.687 19.6263 39.7133 19.6001 39.7133 19.5739C 39.687 19.5476 39.687 19.5214 39.7133 19.4952C 39.7395 19.4165 39.7657 19.3378 39.7657 19.2853C 39.7657 19.2591 39.7657 19.2329 39.7919 19.2067C 39.8182 19.1017 39.8182 18.9968 39.8444 18.8919C 39.8444 18.787 39.8444 18.7083 39.8444 18.6034C 39.8444 18.5772 39.8444 18.5509 39.8444 18.5247C 39.8444 18.446 39.8182 18.3673 39.8182 18.2886C 39.8187 18.2616 39.8187 18.2616 39.8187 18.2354Z"/>
<path id="path4_fill" d="M 0.025707 16.332L 0.025707 16.3583C 0.0519365 16.4632 0.0781628 16.5681 0.104392 16.6468C 0.104392 16.6468 0.104392 16.6468 0.104392 16.673C 0.130622 16.7517 0.15685 16.8566 0.209309 16.9353C 0.209309 16.9615 0.235542 16.9878 0.261771 17.014C 0.288001 17.0665 0.340458 17.1451 0.366688 17.1976C 0.392917 17.2238 0.39292 17.2501 0.41915 17.2763C 0.471609 17.355 0.524069 17.4337 0.576528 17.5124C 0.628988 17.591 0.707673 17.6697 0.786361 17.7484C 0.812591 17.7747 0.812594 17.7746 0.838824 17.8009C 0.891283 17.8533 0.969966 17.9058 1.02243 17.9583C 1.04866 17.9845 1.07489 17.9845 1.10112 18.0107C 1.15358 18.0632 1.23226 18.0894 1.28472 18.1419C 1.31095 18.1681 1.33718 18.1681 1.36341 18.1943C 1.4421 18.2468 1.54702 18.2992 1.62571 18.3255L 15.0272 23.7306C 16.3646 24.2816 17.8856 23.6256 18.4365 22.2874C 18.9873 20.9492 18.3315 19.4276 16.9941 18.8765L 8.02492 15.2558C 12.9553 12.6059 18.9086 12.396 24.075 14.8624L 24.1013 14.8624C 30.6314 17.8798 34.7489 24.5442 34.5915 31.8908C 34.5653 33.3339 35.6929 34.5407 37.1617 34.567C 37.1879 34.567 37.2142 34.567 37.2142 34.567C 38.6303 34.567 39.8106 33.4389 39.8369 31.9957C 40.0467 22.5502 34.7491 13.9441 26.3043 10.0609C 20.4559 7.27975 13.8733 7.14834 8.05115 9.43109L 10.4378 3.60632C 10.9886 2.26809 10.3329 0.720304 8.99541 0.195454C 7.65797 -0.355626 6.11069 0.300375 5.5861 1.6386L 0.183606 14.8886C 0.183606 14.9149 0.157375 14.9411 0.157375 14.9673C 0.157375 14.9936 0.131144 15.046 0.131144 15.0722C 0.104914 15.1509 0.0786895 15.2296 0.0786895 15.2821C 0.0786895 15.3083 0.0786879 15.3345 0.0524584 15.3608C 0.0262289 15.4657 0.0262257 15.5706 -3.84221e-06 15.6755C -3.84221e-06 15.7804 -3.84221e-06 15.8591 -3.84221e-06 15.964C -3.84221e-06 15.9903 -3.84221e-06 16.0165 -3.84221e-06 16.0427C -3.84221e-06 16.1214 0.0262273 16.2001 0.0262273 16.2788C 0.0257027 16.3058 0.025707 16.3058 0.025707 16.332Z"/>
</defs>
</svg>
