
<div class="What hero is-light">

  <div class="hero-body">

  <div class="container">
    <div class="section-header columns has-text-centered is-centered">
      <div class="column is-6">
        <h3 class="title">What is Pollygot?</h3>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="content">
          <h5 class="polly-Header">We are a content platform for businesses</h5>
          <p>
            Pollygot is essentially a merger of Patreon and Medium. We support businesses and bloggers with a range of tools, including a cryptocurrency for micropayments and donations.
            We have a multilingual CMS that has all the bells and whistles you need for your startup. Pollygot is a SaaS product so that
            you don't have to worry about installation, and also opensource so you can host it yourself.
          </p>
        </div>

      </div>
      <div class="column">
        <div class="content">
          <h5 class="polly-Header">We have a cryptocurrency</h5>
          <p>
            We believe the world is willing to sponsor great content but don't yet have a convenient way to do so.
            We are creating PollyCoin so that small businesses and bloggers don't have to put ads on their sites.
            Micropayments is one of the best use-cases for cryptocurrencies but adoption of cryptocurrencies is not yet widespread. We believe this is a symptom of usability rather than desire.
            We plan to make tipping and donations absolutely seamless.
          </p>
        </div>

      </div>
      <div class="column">
        <div class="content">
          <h5 class="polly-Header">We are a start up</h5>
          <p>
            We know the pain that techies go through when they start a business because we have done it ourselves. As we are trying to support you,
            our PollyCoin ICO also gives you a unique opportunity to support <i>us</i>, our personal kickstarter so that we can focus on transforming the publishing industry.
            If you believe in micropayments for content make sure you read <a href="https://blog.pollygot.com/en/why-we-are-doing-an-ico/">why we are doing an ICO.</a>
          </p>
        </div>

      </div>

    </div>
  </div>
  </div>
</div>
