
<section class="Writers">

  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-6">
        <h3 class="title">Need more reasons?</h3>
      </div>
    </div>
  </div>




  <div class="has-horizontal-scroll has-text-centered">

    	<!-- <nav class="level is-mobile">
    	<div class="level-left">
    		<div class="level-item">
    			<a class="button">&larr;</a>
    		</div>
    	</div>
    	<div class="level-right">
    		<div class="level-item">
    			<a class="button">&rarr;</a>
    		</div>
    	</div>
    	</nav> -->


  	<div class="scrolling-wrapper-flexbox">

  	    <!-- <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/multilingual.svg" alt="Multilingual">
  				</figure>
  				<h5>Multilingual</h5>
  				<p>
  					The world is bigger than a single language. The Pollygot CMS is designed for multilingual content out of the box. Even if you can't speak another language, why not just have our trusty Pollybot do it
            for you?
  				</p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
  			</div> -->

  	    <!-- <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/social.svg" alt="Social accounts">
  				</figure>
  				<h5>Social accounts</h5>
  				<p>
            There are so many social accounts to manage these days, so Pollygot is designed from the ground up to integrate natively with all of the major platforms. Schedule a post to go out to all your followers,
            then monitor and respond to them directly from Pollgot.
          </p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
  			</div> -->

  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/tip.svg" alt="Get paid">
  				</figure>
  				<h5>Custom Domains</h5>
  				<p>
            Your visitors belong to you, own your brand.. Point your own domain towards Pollygot, or self-host if you need even more control.
          </p>
  			</div>
  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/export.svg" alt="Get paid">
  				</figure>
  				<h5>Easy migrations</h5>
  				<p>
            We realise that at some point you may grow beyond Pollygot. <br>Want to migrate away? Export your content as a Hugo site.
          </p>
  			</div>
  	    <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/tip.svg" alt="Get paid">
  				</figure>
  				<h5>Get paid</h5>
  				<p>
            Most bloggers can only make money through advertising,
            which directly competes with the reading experience. We make micro-tipping <i>easy</i> for your audience so that you can focus on great content.
          </p>
  			</div>

  	    <!-- <div class="feature-card ">
  				<figure class="image is-64x64">
  				  <img src="/assets/icons/tools.svg" alt="Full featured">
  				</figure>
  				<h5>Full featured</h5>
  				<p>
  					If you are a startup then you're probably paying for 20 different services that should really be features within a single solution. Pollygot is that solution. Save time and, more importantly, save money.
  				</p>
          <a class="polly-Button button is-fullwidth" href="#" >More</a>
  			</div>
  	    <div class="padder-card "></div> -->
  	  </div>


  </div>
</section>
