<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Exxxpanda. Your elastic dream team.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="Exxpanda. Your elastic tech team.">
	{{!-- <link rel="icon" href="/assets/icons/panda.svg" type="image/x-icon" /> --}}
	<link rel="icon" href="/assets/icons/panda.svg" type="image/x-icon" />

	<link href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
	<link href="/css/site.css" rel="stylesheet" type="text/css" media="screen" />

	{{> js}}

</head>

<body>

	<main>
		{{> menu}}
		{{> hero}}
		{{> features}}
		{{> pricing }}
		{{> cta}}
		{{> footer}}
	</main>

</body>
</html>
